:root {
    --colorbg: #D9D9D9;
    --color1: #999DF2;
    --font: 'Cairo',
        sans-serif;
    --fontcolor: #0D0D0D;
    --color2: #031059;
    --color3: #adb0f4;
    --color4: #eaebfc;
}


body {

    display: flex;
    margin: 0%;
    background-color: var(--colorbg);
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

.section1 {
    display: block;
    width: 100%;
    height: 23vh;
}

.card1 {
    display: flex;
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    align-content: flex-end;
    justify-content: space-between;

}

#img {
    margin: 1%;
    border-radius: 50% 0 50% 0;
    width: auto;
    height: auto;
    border: var(--color2) solid 0.5rem;
    margin: 5%;

}

#name {
    text-align: center;
    font-family: var(--font);
    color: var(--fontcolor);
    font-size: xx-large;
    height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#links {
    overflow: hidden;
    height: 100%;
    width: 65%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

ol {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;

}

ol a {
    margin: 1%;
}

i {
    font-size: xx-large;
}

#child1 {
    display: block;
    text-align: center;
    font-size: large;
}

#child2 {
    display: block;
    text-align: right;
    font-size: 10pt;
    width: fit-content;
}

.info {
    display: flex;
}

.section2 {
    display: flex;
}

.card2 {
    margin: 3%;
    font-family: var(--font);
    background-color: var(--color3);
    border-radius: 4%;
    height: 60vh;
    width: 45%;
}

.card3 {
    font-family: var(--font);
    margin: 3%;
    background-color: var(--color3);
    border-radius: 4%;
    height: 60vh;
    width: 45%;
}

#bold_A {
    font-weight: 600;
}


#bold_title {
    font-weight: 600;
    font-size: x-large;
}

#about {
    padding: 4%;
}

#about p {
    margin-bottom: 3%;
}

#skills {
    padding: 4%;
}

#progress-bar {
    background-color: #f2ee99;
    width: 75%;
    height: 4vh;
    margin: 1%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

#progress-bar span {
    position: relative;
    content: "";
    background-color: #9df299;
    width: 75%;
    height: 100%;
    z-index: 0;
}

.section3 {
    margin-top: 13%;
    background-color: var(--color4);
    height: 50vh;
    width: 100%;
}

@media (max-width:667px) {
    #img {
        display: none
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2 {
        width: 80%;
        height: 40vh;


    }

    .card3 {
        width: 80%;

    }

    #progress-bar {
        width: 85%;
    }

}